header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0px;
    background-color: #202020;
    height: 90px;
}

.logoMarca {
    width: 150px;
    height: 80px;
}

.carrito{
    width: 30px;
}

li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: whitesmoke;
    text-decoration: none;
}
